img {
  max-height: 300px;
  border-radius: 15px;
  border: 5px solid $primary-color;
  @include mobile-only {
    max-height: 150px;
  }
}
h2 > * {
  color: $secondary-color;
}
h2 > *:hover {
  color: $tertiary-color;
}