// Fonts
@font-face {
  font-family: font1;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: font2;
  src: url("../assets/fonts/Exo/exo-16.ttf");
}
$font-1 : "font1", sans-serif;
$font-2 : "font2", sans-serif;

$font-size-1 : 2.5rem;
$font-size-2 : 1.5rem;
$font-size-3 : 1rem;
$font-size-pad-1 : 2rem;
$font-size-pad-2 : 1rem;
$font-size-pad-3 : .5rem;
$font-size-mobile-1 : 1.5rem;
$font-size-mobile-2 : .5rem;
$font-size-mobile-3 : .2rem;
// Colors
$primary-color : #35495E;
$secondary-color : #EEEEEE;
$tertiary-color : #8c52ff;

//Breakpoints to make the app responsive
$breakpoints: (
  mobile : 599px,
  pad : 1279px,
);

// Mixins
@mixin renderFlex($direction : row,$alignement : center,$justify : space-between,$gap : unset) {
  display: flex;
  width: 100%;
  flex-direction: $direction;
  gap: $gap;
  align-items: $alignement;
  justify-content: $justify;
}
@mixin renderAbsolute($top,$right,$bottom,$left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)){
    @content;
  }
}
@mixin mobile-pad {
  @media screen and (max-width: map-get($breakpoints, pad)){
    @content;
  }
}

//Placeholders
%vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//global scss
body {
  margin: 0;
  background-color: $secondary-color;
  font-family: $font-2;
  color: $primary-color;
}
.container {
  margin: 0;
  padding: 0 20px 20px 20px;
  width: inherit;
  height: 100%;
}




