// Fonts
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Exo;
  src: url("../assets/fonts/Exo/exo-16.ttf");
}
$font-1 : "Raleway", sans-serif;
$font-2 : "Exo", sans-serif;

// Colors

//Breakpoints to make the app responsive

// Mixins

//Placeholders

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #eaebec;
  border-radius:20px;
  border: 1px solid #8c52ffaa;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c52ffbb;
  border-radius: 20px;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar:hover {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8c52ffff;
  cursor: grab;
}




