// Fonts
@font-face {
  font-family: font1;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: font2;
  src: url("../assets/fonts/Exo/exo-16.ttf");
}
$font-1 : "font1", sans-serif;
$font-2 : "font2", sans-serif;

// Colors
$primary-color : #35495E;
$secondary-color : #EEEEEE;
$tertiary-color : #8c52ff;

// Mixins
@mixin vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//functions

body {
  background-color: $secondary-color;
  font-family: $font-2;
  color: $primary-color;
  display: flex;
  flex-direction: column;
}

