.footer {
  height: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 15px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  text-align: center;
  font-size: inherit;
  @include renderFlex(row,baseline,space-evenly);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
