.header {
  @include renderFlex(row,center,space-between,0,nowrap);
  white-space: nowrap;
  @include mobile-pad {
    white-space: break-spaces;
    @include renderFlex(column,center,center,0);
  }
  > * {
    @include renderFlex(row,center,space-between,20px,nowrap);
    @include mobile-pad {
      @include renderFlex(row,center,center,20px,nowrap)
    }
    @include mobile-only {
      @include renderFlex(column,center,space-between,20px)
    }
  }
  > * > h2 {
    margin: 0;
    width: 39ch;
    animation: typing 1s steps(39), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    @keyframes typing {
      from {
        width: 0
      }
    }
    @keyframes blink {
      50% {
        border-color: transparent
      }
    }
  }
}
.header-link {
  color: $primary-color;
  text-decoration: none;
}
.header-link:active {
  color: $tertiary-color;
  transform: translateY(5px);
  transition-duration: .1s;
}
.header-link:hover {
  color: $tertiary-color;
}
.header-dl {
  background-color: $tertiary-color;
  border-radius: 50px;
  color: $secondary-color;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}
.header-dl:hover {
  color: $primary-color;
}
.header-dl:active {
  color: $primary-color;
  transform: translateY(5px);
  transition-duration: .1s;
}