.navigation {
  width: 100%;
  margin-top: 20px;
  @include renderFlex(row,center,center,10px 2%);
  @include mobile-pad {
    @include renderFlex(row,center,center,10px 2%);
  }
  @include mobile-only {
    @include renderFlex(row,center,center,10px 2%);
  }
  > * {
    @include renderFlex(row,center,center,10px);
    max-width: 10%;
    white-space: nowrap;
    text-decoration: none;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    font-size: $font-size-2;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @include mobile-pad {
      max-width: 20%;
      font-size: $font-size-pad-2;
    }
    @include mobile-only {
      max-width: 5%;
      font-size: $font-size-mobile-2;
    }
  }
  > *:hover {
    transition-duration: .2s;
    transform: translateY(5px);
  }
}
.btn-description {
  font-size: $font-size-pad-2;
  @include mobile-only {
    display: none;
  }
}
